In [94]:
import sqlite3
conex_proyecto=sqlite3.connect('db_ingresos_hospital5.db') 

cur=conex_proyecto.cursor()

In [95]:
import pandas as pd

df_pacientes_hospital=pd.read_csv('pacientes_hospital.csv',sep=';',encoding='iso_8859_1')

personas=df_pacientes_hospital.values
for persona in personas:
    print(persona)

[638192 'Shaun' 'Graham' 'Madagascar']
[478263 'Sugar ' 'Watermelon' 'Holwars']
[298732 'Snape' 'Salazar' 'Madrid']

In [96]:


df_medicos_hospital=pd.read_csv('medicos_hospital.csv',encoding='iso_8859_1')

medicos=df_medicos_hospital.values
for medico in medicos:
    print(medico)

['Paco ;Rabadán ;Cirujano;5']
['Crish;Broncano ;Podólogo;6']
['Gambino ;Express;Pediatra ;7']
['Sus;Laik Yu ;Octalmologo;8']

In [97]:
df_ingresos_hospital=pd.read_csv('ingresos_hospital.csv',encoding='iso_8859_1')

ingresos=df_ingresos_hospital.values
for ingreso in ingresos:
    print(ingreso)

['        12/00/2023']
['13/11/2023']
['12/09/2023']
['14/08/2023']

In [98]:
cur.execute("""CREATE TABLE IF NOT EXISTS medicos(
                        cod_id integer, 
                        nombre text,
                        apellidos text,
                        especialidad text
)""")

for persona in personas:
    cur.execute("""insert into medicos
    (cod_id,nombre,apellidos,especialidad) VALUES (?,?,?,?) """,(persona))

OperationalError: table medicos has no column named cod_id

In [ ]:
cur.execute("""CREATE TABLE IF NOT EXISTS paciente(
                        historial integer, 
                        nombre text,
                        apellidos text,
                        domicilio text,
                        id_medicos integer,
                        FOREIGN KEY (id_medicos) REFERENCES medicos (cod_id)

)""")
for persona in personas:
    cur.execute("""insert into paciente
    (historial,nombre,apellidos,especialidad,id_medicos) VALUES (?,?,?,?,?) """,(persona))

conex_proyecto.commit()
conex_proyecto.close()

OperationalError: table paciente has no column named id