In [5]:
#Crear la base de datos, un objeto para conectarse a ella y un objeto tipo cursor para operar sobre las tablas 

#Insertar filas en una tabla 
import sqlite3
conex_proyecto=sqlite3.connect('db_proyecto.db')

#el objeto cursor permite a traves del metodo execute ejecutar sentencias SQL 

cur=conex_proyecto.cursor()

In [10]:
cur.execute("""CREATE TABLE IF NOT EXISTS proyecto(
                        id integer primary key autoincrement,
                        nombre text,
                        fecha_comienzo text,
                        fecha_fin text
)""")

cur.execute("""CREATE TABLE IF NOT EXISTS tarea(
                        id integer primary key autoincrement,
                        id_proyecto int,
                        nombre text,
                        prioridad text,
                        estado text,
                        fecha_comienzo text,
                        fecha_fin text,
                        FOREIGN KEY (id_proyecto) REFERENCES proyecto (id)
)""")

In [9]:
# SENTENCIAS SQULITE PARA INSETAR DATOS EN LAS TABLAS

cur.execute(""" INSERT INTO proyecto(nombre, fecha_comienzo,fecha_fin)VALUES ('vialia', '17/02/2001','25/01/2013')""")
conex_proyecto.commit()

In [11]:
#INSERT INTO nombre_tabla(campo1,campo2...campon)VALUES(?,?...?)"""
cantidad_proyecto=len(proy_nombre)
for i in range(cantidad_proyecto):
    cur.execute(""" INSERT INTO proyecto
                (nombre,fecha_comienzo,fecha_fin) VALUES (?,?,?);
                                        """(proy_nombre[i],proy_inicio[i],proy_fin[i]))



cantidad_tareas = len(tarea_nombre)
for ix in range(cantidad_tareas):
    
    cur.execute(''' INSERT INTO tarea(id_proyecto,nombre, prioridad,
    estado, fecha_comienzo,fecha_fin) VALUES (?,?,?,?,?,?)''',
    (tarea_proy_id[ix],tarea_nombre[ix],tarea_prioridad[ix],
    tarea_estado[ix],tarea_inicio[ix],tarea_fin[ix]))

<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?

NameError: name 'proy_nombre' is not defined

In [12]:
#Sentencias SQL

## Crear Tablas 

### En SQL es lo que está en rojo 

#- - - - - - - - - - CREAR TABLAS - - - - - - -- - - - 

**CREATE TABLE IF NOT EXIST  nombre_tabla(campo1,campo2...tipo2...campo m tipo n)**

#**CREATE TABLE IF NOT EXIST** #proyecto es el nmbre de la tabla  

#campos- 
#(campo1 tipo1, campo2 tipo2,...campon_tipo n)

SyntaxError: invalid syntax (521623547.py, line 9)

In [ ]:
### Cauclar el promedio de calificaciones del grupo 
calificaciones={"alumno":["raul","Maria","Josefa"],"calificacion":[8.7,7.6,6.5,6,3,8]}
cantidad=len(calificaciones["alumno"])
for ix in range(cantidad):
    print("El alumno",calificaciones["alumno"][ix],"tiene una calificación de",calificaciones["calificacion"][ix])


suma=0
for ix in range(cantidad):
    print('los valor de ix son ',ix,'en cada iteración')
    suma+=calificaciones["calificacion"][ix]

    
media=suma/cantidad

print(media)

El alumno raul tiene una calificación de 8.7
El alumno Maria tiene una calificación de 7.6
El alumno Josefa tiene una calificación de 6.5
los valor de ix son  0 en cada iteración
los valor de ix son  1 en cada iteración
los valor de ix son  2 en cada iteración
7.599999999999999

In [ ]:
round(media)

8

In [ ]:
#Otro tipo de dato mas comlpejo es el diccionario que tiene la estrucutra 
#llave:valor Se declara entre llaves {}

dato={'Materia':'Bases de datos','Ciclo':'Dam','Nivel':1}
print('la materia es:',dato['Materia'], 'el año es:',dato["Nivel"])

la materia es: Bases de datos el año es: 1

In [ ]:
### Vamos a ver las listas,(arrays) se hacen con corchete 

a =['cucamona'] # lista vacía 
b =['hola','mundo'] # lista de cadenas 
c=[22,44,57] # lista de numeros 
d= [[11,34],[36,67], [88,63]] # una matriz de 3x2

[22, 44, 57, 92]

In [ ]:

#añadir valor a la lista
c.append(72)
c

[22, 44, 57, 72, 72, 72, 72]

In [ ]:
#Otra forma de hacer un for 
for vvvv in c:
    print('el valor de esta fila es ',vvvv,'que es un numero')

el valor de esta fila es  22 que es un numero
el valor de esta fila es  44 que es un numero
el valor de esta fila es  57 que es un numero

In [ ]:
cant_elementos=len(c)
print(cant_elementos)
cant_elementos=len(c)
#range(3) nos da un rango de 0 hasta 2, para verlo vien lo podemos hacer una lista con list 
ix_elementos=list(range(cant_elementos))
print(ix_elementos)
for ix in range(cant_elementos):
    print('los valor de ix son 'ix,'en cada iteración')

3
[0, 1, 2]
0
1
2

In [ ]:
for elem in a:
    print(elem)

cucamona

In [ ]:
print('como range',(range(6)),'como lista de valores',list(range(6)))

como range range(0, 6) como lista de valores [0, 1, 2, 3, 4, 5]

In [ ]:
### Esto te importa lo que nosotros queramos 
import sqlite3

# Demo Jupyter NoteBook 
## Tiene que estar en la misma carpeta, y en los corchetes que no tenga la extensión. 

![gato](gato.jpg)

# Titulo Grande 
## Titulo mas pequeño 
### hemos dado dos comandos :
## Esc para que se vea "Mejor? " y pincho otra vez para que vuelva a su estado natural 


-Esc-a para crear una celda encima  
-Esc-b para crear una celda debajo  
-Esc- m para que la nueva  celda sea de texto   
- Para negritas **Negritas**
-Eliminar una celda Esc-dd para eliminar 
- Esc y para codigo y Esc m para texto 
- OJO, los espacios cuentan esto no es java 
### Para ejecutasr una celda (Que sea codigo de texto) se da en el simbolo de play a la izquierda o sea da Crt-Enter al mismo tiempo

In [ ]:


print('hola') #Esto es para imprimir en la consola,

hola