In [1]:
# esta wea te convierte una tabla en datos. 
import pandas as pd

df_most_followed=pd.read_csv('most_followed_twitter.csv')
personas=df_most_followed.values
for persona in personas:
    print(persona)

[1 '@BarackObama' 'Barack Obama' 'N' 133.4
 '44th President of the United States' 'United States']
[2 '@elonmusk' 'Elon Musk' 'N' 123.3
 'Business magnate, investor, and owner of Twitter' 'South Africa']
[3 '@justinbieber' 'Justin Bieber' 'N' 113.6 'Musician' 'Canada']
[4 '@katyperry' 'Katy Perry' 'N' 108.7 'Musician' 'United States']
[5 '@rihanna' 'Rihanna' 'N' 107.4 'Musician' 'Barbados']
[6 '@Cristiano' 'Cristiano Ronaldo' 'N' 106.3 'Football player' 'Portugal']
[7 '@taylorswift13' 'Taylor Swift' 'N' 92.0 'Musician' 'United States']
[8 '@realDonaldTrump' 'Donald Trump' 'N' 87.8
 '45th President of the United States' 'United States']
[9 '@narendramodi' 'Narendra Modi' 'N' 85.1 'Prime Minister of India'
 'India']
[10 '@ladygaga' 'Lady Gaga' 'N' 84.9 'Musician and actress'
 'United States']
[11 '@YouTube' 'YouTube' 'Y' 77.9 'Online video sharing platform'
 'United States']
[12 '@TheEllenShow' 'Ellen DeGeneres' 'N' 76.9
 'Comedian and television host' 'United States']
[13 '@KimKardashian' 'Kim Kardashian' 'N' 74.3
 'Television personality and businesswoman' 'United States']
[14 '@NASA' 'NASA' 'Y' 67.6 'Space agency' 'United States']
[15 '@selenagomez' 'Selena Gomez' 'N' 66.4 'Musician and actress'
 'United States']
[16 '@Twitter' 'Twitter' 'Y' 65.0 'Social media platform' 'United States']
[17 '@cnnbrk' 'CNN Breaking News' 'Y' 64.0 'News channel' 'United States']
[18 '@jtimberlake' 'Justin Timberlake' 'N' 62.7 'Musician and actor'
 'United States']
[19 '@BillGates' 'Bill Gates' 'N' 61.2 'Businessman and philanthropist'
 'United States']
[20 '@CNN' 'CNN' 'Y' 60.7 'News channel' 'United States']
[21 '@neymarjr' 'Neymar' 'N' 59.5 'Football player' 'Brazil']
[22 '@britneyspears' 'Britney Spears' 'N' 56.0 'Musician' 'United States']
[23 '@nytimes' 'The New York Times' 'Y' 54.7 'Newspaper' 'United States']
[24 '@ddlovato' 'Demi Lovato' 'N' 53.9 'Musician and actress'
 'United States']
[25 '@shakira' 'Shakira' 'N' 53.2 'Musician' 'Colombia']
[26 '@KingJames' 'LeBron James' 'N' 52.4 'Basketball player'
 'United States']
[27 '@imVkohli' 'Virat Kohli' 'N' 52.2 'Cricket player' 'India']
[28 '@PMOIndia' 'PMO India' 'Y' 51.6
 'Office of the Prime Minister of India' 'India']
[29 '@BBCBreaking' 'BBC Breaking News' 'Y' 51.4 'News channel'
 'United Kingdom']
[30 '@jimmyfallon' 'Jimmy Fallon' 'N' 51.2 'Comedian and television host'
 'United States']
[31 '@SrBachchan' 'Amitabh Bachchan' 'N' 48.1 'Actor' 'India']
[32 '@BTS_twt' 'BTS' 'N' 47.8 'Musicians' 'South Korea']
[33 '@MileyCyrus' 'Miley Cyrus' 'N' 46.7 'Musician and actress'
 'United States']
[34 '@realmadrid' 'Real Madrid CF' 'Y' 45.8 'Football club' 'Spain']
[35 '@ChampionsLeague' 'UEFA Champions League' 'Y' 45.7 'Football league'
 'Europe']
[36 '@JLo' 'Jennifer Lopez' 'N' 45.4 'Musician and actress'
 'United States']
[37 '@akshaykumar' 'Akshay Kumar' 'N' 45.4 'Actor' 'India']
[38 '@FCBarcelona' 'FC Barcelona' 'Y' 45.2 'Football club' 'Spain']
[39 '@BeingSalmanKhan' 'Salman Khan' 'N' 44.6 'Actor' 'India']
[40 '@espn' 'ESPN' 'Y' 43.6 'Sports channel' 'United States']
[41 '@BrunoMars' 'Bruno Mars' 'N' 43.1 'Musician' 'United States']
[42 '@Oprah' 'Oprah Winfrey' 'N' 43.0 'Television personality'
 'United States']
[43 '@iamsrk' 'Shah Rukh Khan' 'N' 42.8 'Actor' 'India']
[44 '@bts_bighit' 'BTS' 'N' 42.2 'Musicians' 'South Korea']
[45 '@SportsCenter' 'SportsCenter' 'Y' 41.3 'Sports channel'
 'United States']
[46 '@NiallOfficial' 'Niall Horan' 'N' 41.1 'Musician' 'Ireland']
[47 '@NBA' 'NBA' 'Y' 41.1 'Basketball league' 'United States']
[48 '@KylieJenner' 'Kylie Jenner' 'N' 40.3
 'Television personality and businesswoman' 'United States']
[49 '@Drake' 'Drake' 'N' 39.8 'Rapper' 'Canada']
[50 '@BBCWorld' 'BBC World News' 'Y' 39.0 'News channel' 'United Kingdom']

In [2]:
import sqlite3
conex_proyecto=sqlite3.connect('twitter2.db')
# el objeto cursor permite a través del método execute ejecutar sentencias SQL
cur = conex_proyecto.cursor()

In [4]:
cur.execute("""CREATE TABLE IF NOT EXISTS twitter(
                       
                        rank integer, 
                        account_name text,
                        account_owner text,
                        brand text,
                        country text,
                        occupation text, 
                        follower real

)""")
for persona in personas:
    cur.execute("""insert into twitter
    (rank,account_name,account_owner,brand,country,occupation,follower) VALUES (?,?,?,?,?,?,?) """,(persona))

conex_proyecto.commit()
conex_proyecto.close()

ProgrammingError: Cannot operate on a closed database.